html,
body {
  margin: 0;
  padding: 0;
  background-color: #c5c5c5;
}
/* 
main {
} */

.start-game {
  margin: 0 auto;
  color: aliceblue;
  background-color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  cursor: pointer;
}

.guess-container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  width: 100%;
}

.hide {
  display: none;
}

.guess_box {
  margin: 0.5em 0.5vmax;
  height: 40vh;
  width: 16vw;
  border: solid 1px black;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.guess_box:hover {
  transform: scale(0.95);
}
.guess_box:current {
  transform: rotate(1080);
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
